.footer-content {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    
}

.footer-content li {
    margin: auto 4em;
}